################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Performance Test/Performance Test.opensdf
/Performance Test/Debug